/* default config is in /etc/xdg/waybar/style.css */
* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    /* Otherwise there's bottom padding at the bar */
    min-height: 0;
}

window#waybar {
    background-color: rgba(43, 48, 59, 1.0);
    /* border-bottom: 30px solid rgba(100, 114, 125, 0.5); */
    color: white;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px white;
}

/* A workspace might not have focus but still be visible because it's on another monitor */
#workspaces button.visible {
    box-shadow: inset 0 -3px #fde1f2;
}

#workspaces button.focused {
    background-color: #385a66;
    box-shadow: inset 0 -3px #F037A5;
}

#workspaces button.urgent {
    background-color: #2ECC71;
    color: black;
}

/* resizing mode, for example */
#mode {
    color: black;
    background-color: Orange;
    font-size: 150%;
    padding-left: 6px;
    padding-right: 6px;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-http-heartbeat,
#tray,
#clock,
#workspaces button,
#scratchpad,
#language {
    padding: 4px 3px;
    margin: 2px 5px;
    color: white;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin-right: 0;
    box-shadow: inset 0 -2px #FFEBA1;
}

#battery {
    box-shadow: inset 0 -2px #ffffff;
}

#battery.charging, #battery.plugged {
    box-shadow: inset 0 -2px #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    box-shadow: inset 0 -2px #000000;
}

#cpu {
    box-shadow: inset 0 -2px #2ecc71;
}

#memory {
    box-shadow: inset 0 -2px #9b59b6;
}

#disk {
    box-shadow: inset 0 -2px #964B00;
}

#backlight {
    box-shadow: inset 0 -2px #90b1b1;
}

#network {
    box-shadow: inset 0 -2px #c5f6fa;
}

#network.disconnected {
    box-shadow: inset 0 -2px #f53c3c;
}

#pulseaudio {
    box-shadow: inset 0 -2px #f1c40f;
}

#pulseaudio.muted {
    box-shadow: inset 0 -2px #90b1b1;
}

#custom-media {
    box-shadow: inset 0 -2px #66cc99;
    min-width: 100px;
}

#custom-media.custom-vlc {
    box-shadow: inset 0 -2px #ffa000;
}

#custom-http-heartbeat{
    box-shadow: inset 0 -2px #ffa000;
}

#temperature {
    box-shadow: inset 0 -2px #FFB319;
}

#temperature.critical {
    box-shadow: inset 0 -2px #eb4d4b;
}

#tray {
    box-shadow: inset 0 -2px #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    box-shadow: inset 0 -2px #eb4d4b;
}

#language {
    box-shadow: inset 0 -2px #b197fc;
    min-width: 20px;
}

