#window {
  background-color: rgba(45, 45, 45, 0.9);
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.8);
}

#input {
  background-color: transparent;
  border-radius: 2px;
  border: none;
  color: white;
}

#inner-box {
  margin: 2px;
  font-size: 16px;
  /* color: #285577; */
  /* background-color: #F7F5CD; */
}

#outer-box {
  background-color: rgba(45, 45, 45, 0.9);
  padding: 5px;
}

/* The selected entry */
#selected {
    background-color:  #285577;
}

